body {
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	}
.template_bg{
	background-image: url(../BOIDesign2New.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 815px;
	width: 1024px;
	left: auto;
	right: auto;
	margin: auto;
}
#container {
	width:506px;
	font-size:12px;
	background-color: #FFFFFF;
	top: 0px;
	left: 0px;
	position: relative;
}

a{
	text-transform:none;
	color:#333
}
